<h1>{{spots.0.destination}}</h1>
<p>this page shows all spots of one destination of friends</p>
<a id="home" href="/profile">home</a>
{{#each spots}}
<a href="/spotCard/{{this.id}}">{{this.name}}</a>{{this.ranking}}
{{this.category}}
{{this.author.username}}
{{/each}}