<p>all your friends spots in</p>
<h1>{{spots.0.destination}}</h1>

<a id="friendsDestinationHome" href="/profile">home</a>

<div id="myBtnContainer">
  <button class="btnFilter" id="filterAll"> show all</button>
  <button class="btnFilter" id="filterFood"> food</button>
  <button class="btnFilter" id="filterArt"> art</button>
  <button class="btnFilter" id="filterSleeps"> sleeps</button>
  <button class="btnFilter" id="filterGems"> gems</button>
</div>

<div id="allFriendsSpots">
  {{#each spots}}
  <div id="allFriendsSpots2">
    <a href="/spotCard/{{this.id}}"> {{this.name}} </a>
    <br> {{this.category}} <br>
    {{this.ranking}}<br> by: {{this.author.username}}
  </div>
  {{/each}}
</div>

<div id='optionBlock'></div>

<script>



  const spots = {{{ stringify spots }}}

  let food = spots.filter(el => el.category === "food")
  let art = spots.filter(el => el.category === "art")
  let sleeps = spots.filter(el => el.category === "sleeps")
  let gems = spots.filter(el => el.category === "gems")
  let optionBlock = document.getElementById("optionBlock");

  const removeNodeChildren = () => {
    while (optionBlock.firstChild) {
      optionBlock.removeChild(optionBlock.firstChild);
    }
  }



  document.getElementById('filterAll').addEventListener('click', () => {
    removeNodeChildren()
    const removeFriendsSpots = document.getElementById("allFriendsSpots")
    if (removeFriendsSpots) removeFriendsSpots.remove();
    spots.forEach(el => {
      var para = document.createElement("P");
      para.innerHTML = `<div class="colorSpots"> <a href="/spotCard/${el.id}"> ${el.name}</a> </br> ${el.category} </br> ${el.ranking} </br> by ${el.author.username}</div>`
      optionBlock.appendChild(para);
    })
  })

  document.getElementById('filterFood').addEventListener('click', () => {
    removeNodeChildren()
    const removeFriendsSpots = document.getElementById("allFriendsSpots")
    if (removeFriendsSpots) removeFriendsSpots.remove();
    food.forEach(el => {
      var para = document.createElement("P");
      para.innerHTML = `<div class="colorFood"> <a href="/spotCard/${el.id}"> ${el.name}</a> </br> ${el.category} </br> ${el.ranking} </br> by ${el.author.username}</div>`
      optionBlock.appendChild(para);
    })
  })

  document.getElementById('filterArt').addEventListener('click', () => {
    removeNodeChildren()
    const removeFriendsSpots = document.getElementById("allFriendsSpots")
    if (removeFriendsSpots) removeFriendsSpots.remove();
    art.forEach(el => {
      var para = document.createElement("P");
      para.innerHTML = `<div class="colorArt"> <a href="/spotCard/${el.id}"> ${el.name}</a> </br> ${el.category} </br> ${el.ranking} </br> by ${el.author.username}</div>`
      optionBlock.appendChild(para);
    })
  })

  document.getElementById('filterGems').addEventListener('click', () => {
    removeNodeChildren()
    const removeFriendsSpots = document.getElementById("allFriendsSpots")
    if (removeFriendsSpots) removeFriendsSpots.remove();
    gems.forEach(el => {
      var para = document.createElement("P");
      para.innerHTML = `<div class="colorGems"> <a href="/spotCard/${el.id}"> ${el.name}</a> </br> ${el.category} </br> ${el.ranking} </br> by ${el.author.username}</div>`
      optionBlock.appendChild(para);
    })
  })

  document.getElementById('filterSleeps').addEventListener('click', () => {
    removeNodeChildren()
    const removeFriendsSpots = document.getElementById("allFriendsSpots")
    if (removeFriendsSpots) removeFriendsSpots.remove();
    sleeps.forEach(el => {
      var para = document.createElement("P");
      para.innerHTML = `< div class="colorSleeps" > <a href="/spotCard/${el.id}"> ${el.name}</a> </br > ${el.category} </br > ${el.ranking} </br > by ${el.author.username}</div >`
      //el.category el.ranking el.author.username
      optionBlock.appendChild(para);
    })
  })



</script>