<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title>Place the geocoder input outside the map</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  {{!-- <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.js'></script> --}}
  {{!-- <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.css' rel='stylesheet' /> --}}
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    #map {
      position: absolute;
      top: 10%;
      right: 10%;
      bottom: ;
      width: 10%;
      height: 10%
    }
  </style>
</head>

<body>
  <a id="home" href="/profile">home</a>
  <script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.0/mapbox-gl-geocoder.css'
    type='text/css' />
  <style>
    .geocoder {
      position: absolute;
      z-index: 1;
      width: 50%;
      left: 50%;
      margin-left: -25%;
      top: 20px;
    }

    .mapboxgl-ctrl-geocoder {
      min-width: 100%;
    }
  </style>
  <div id='map'></div>
  <div id='geocoder' class='geocoder'></div>

  {{#spots}}
  <h1>{{this.name}}</h1>
  <h2>{{this.author.username}} ranked this spot as {{this.ranking}}</h2>

  <form id="spot-add" action="/bla" method="POST">
    <label for="myName">{{this.name}}</label>
    <input type="text" name="myName" id="myName" value="{{this.name}}" style="visibility: hidden">
    <br>
    <label for="myAddress">{{ this.address }}</label>
    <input type="text" name="myAddress" id="myAddress" value="{{this.address}}" style="visibility: hidden">
    <br>
    <label for="myDestination">{{this.destination}}</label>
    <input type="text" name="myDestination" id="myDestination" value="{{this.destination}}" style="visibility: hidden">
    <br>
    <label for="myVisitDate">{{this.visitDate}}</label>
    <input type="text" name="myVisitDate" id="myVisitDate" value="{{this.visitDate}}" style="visibility: hidden">
    <br>
    <label for="myStatus">{{this.status}}</label>
    <input type="text" name="myStatus" id="myStatus" value="{{this.status}}" style="visibility: hidden">
    <br>
    <label for="myCategory">{{this.category}}</label>
    <input type="text" name="myCategory" id="myCategory" value="{{this.category}}" style="visibility: hidden">
    <br>
    <label for="myPrice">{{this.price}}</label>
    <input type="text" name="myPrice" id="myPrice" value="{{this.price}}" style="visibility: hidden">
    <br>
    <label for="myComment">{{this.comment}}</label>
    <input type="text" name="myComment" id="myComment" value="{{this.comment}}" style="visibility: hidden">
    <br>
    <label for="myImg">{{this.image}}</label>
    <input type="text" name="myImg" id="myImg" value="{{this.image}}" style="visibility: hidden">
    <br>
    <label for="myRanking">{{this.ranking}}</label>
    <input type="text" name="myRanking" id="myRanking" value="{{this.ranking}}" style="visibility: hidden">
    <br>
    <button type="Submit">add spot to my andel list</button>
  </form>

  <span>please fill in all the with * marked forms</span>

  {{!-- <a href="https://www.google.com/maps/search/?api=1&query={{ this.address }}">visit on google</a> --}}

  <a href="https://www.google.com/maps/search/?api=1&query={{ this.address }}">visit on google</a>
  <form action="/delete/{{this.id}}" method="GET">
    <button type="submit">delete</button>
  </form>
  {{/spots}}

  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYW5nbWluc2hlbmciLCJhIjoiY2pydDhjMjlwMXhpaDN5cHMxcjNya2ZmbyJ9.Tc5kmo0vZ1VKJbLK83OloA';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [-79.4512, 43.6568],
      zoom: 13
    });

    var geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      mapboxgl: mapboxgl
    });

    document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
    const spotAddress = document.getElementById("spotAddress").innerText
    document.getElementsByClassName('mapboxgl-ctrl-geocoder--input')[0].innerText = spotAddress

    console.log(spotAddress)
  </script>



</body>

</html>