<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title>Place the geocoder input outside the map</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  {{!-- <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.js'></script> --}}
  {{!-- <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.css' rel='stylesheet' /> --}}
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    #map {
      position: absolute;
      top: 10%;
      right: 10%;
      bottom: ;
      width: 10%;
      height: 10%
    }
  </style>
</head>

<body>
  <h1>create new spot</h1>
  <p>tell us about your hidden gems...</p>
  <a id="home" href="/profile">home</a>
  <script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.0/mapbox-gl-geocoder.css'
    type='text/css' />
  <style>
    .geocoder {
      position: absolute;
      z-index: 1;
      width: 50%;
      left: 50%;
      margin-left: -25%;
      top: 20px;
    }

    .mapboxgl-ctrl-geocoder {
      min-width: 100%;
    }
  </style>
  <div id='map'></div>
  <div id='geocoder' class='geocoder'></div>

  <h1>spots</h1>
  <p>this page shows one spot</p>
  {{#spots}}
  <span>{{this.name}}{{this.ranking}}</span>
  <span>{{this.image}}</span>
  <ul style="list-style: none">
    <li>{{this.destination}}</li>
    <li>{{ this.address }}"</li>
    <li>{{this.price}}</li>
    <li>{{this.visitDate}}</li>
    <li>{{this.status}}</li>
    <li>{{this.category}}</li>
    <li>{{this.comment}}</li>
    <li>{{this.author}}</li>
  </ul>
  <a href="https://www.google.com/maps/search/?api=1&query={{ this.address }}">visit on google</a>
  {{/spots}}

  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYW5nbWluc2hlbmciLCJhIjoiY2pydDhjMjlwMXhpaDN5cHMxcjNya2ZmbyJ9.Tc5kmo0vZ1VKJbLK83OloA';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [-79.4512, 43.6568],
      zoom: 13
    });

    var geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      mapboxgl: mapboxgl
    });

    document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
  </script>

  <button type="submit">add this to my andel list</button>

</body>

</html>